 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
h1 {
  text-align: center;
}

.container {
  position: relative;
}

main {
  background: #819785;
  margin: 0 auto;
  overflow: auto;
  width: 50%;
}

.todo-item {
  padding: 1em;
  position: relative;

  &:nth-child(even) {
    background: lighten(#819785, 20%);
  }

  h2 {
    margin: 0;
  }

  input {
    line-height: 10em;
    padding: 0;
    position: absolute;
    top: 40%;
    right: 10%;

  }
}

.edit-item {
  background: #fff;
  border: solid 1px;
  border-radius: 3px;
  overflow: auto;
  padding: 1em;
  position: fixed;
  width: 40%;
  top: 20%;
  left: 30%;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  input {
    display: block;
    height: 2em;
    margin-bottom: 1em;
    width: 100%;
  }

  input[type="submit"] {
    margin: 2em 0 0;

  }

}
